*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}
.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/banner.png);
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

nav{
    display: flex;
    padding: 2% 4%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 100px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: .5s;    
}
.nav-links ul li:hover::after{
    width: 100%;
}
nav .fa{
    display: none;
}

.text-box{
    width: 90%;
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
.text-box h1{
    font-size: 62px;
}
.text-box p{
    margin: 20px 0 40px;
    font-size: 28px;
    color: #fff;
}
.hero-btn {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
    transition: 1s;
}

.hero-btn:hover{
    border: 1px solid #0e2d9f;
    background: #0e2d9f;
}


@media(max-width: 700px)
{
   .nav-links ul li
    {
        display: block;
    }
    .nav-links
    {
        position: fixed;
        background: #0e2d9f;
        height: 100vh;
        width: 200px;
        top: 0;
        right: -200px;
        text-align: left;
        z-index: 2;
        transition: 0.5s;
    }
    .nav-links ul{
        padding: 30px;
    }
    nav .fa{
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 22px;
        cursor: pointer; 
    }
    .text-box h1{
        font-size: 20px;
    }
}

/*---------- course --------*/
/*---------------- campus ----------------*/

.campus{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 10px;
}
.campus-col{
  
    border-radius: 10px;
    margin-bottom: 30px;
    position: relative;
    overflow: hidden;
}


.layer{
    background: transparent;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    transition: .5s;
}
.layer:hover{
    background: #3498db75;
}
.layer h3{
    width: 100%;
    font-weight: 500;
    color: #fff;
    font-size: 26px;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    opacity: 0;
    transition: .5s;
}
.layer:hover h3{
    bottom: 49%;
    opacity: 1;
}

.course{
    width: 90%;
    margin: auto;
    text-align: center;
    padding-top: 150px;
}
h1{
    font-size: 36px;
    font-weight: 600;
}
p{
    color: #777;
    font-size: 14px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;  
}
  
.course-col{
    flex-basis: 20%;
    background: #9fd7ff;
    border-radius: 10px;
    margin-bottom: 10%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .5s;
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}


.tftable {
    font-size: 15px;
    color: #ffffff;
    width: 80%;
    border-width: 1px;
    margin-left: 10px;
    border-color: #7286a5;
    border-collapse: collapse;
    width: 900px;
    height: 25px;
}

.tftable th,
.tftable td {
    font-size: 15px;
    width: 900px;
    height: 25px;
    border-width: 1px;
    padding: 5px;
    border-style: solid;
    border-color: #7286a5;
    text-align: center;
    word-wrap: break-word;
}

.tftable th {
    background-color: #4a6bb3;
    color: #ffffff;
    width: 900px;
    height: 25px;
}

.tftable tr {
    background-color: #ffffff;
    width: 900px;
    height: 25px;
}

.tftable td:hover {
    background-color: #99daff;
    cursor: pointer;
    width: 900px;
    height: 25px;
}

.tftable td {
    color: #000000;
}




@media (max-width:700px){
    .row{
        flex-direction: column;
    }
} 



/*-------------- Facilities ----------------*/

.facility{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 100px;
    position: relative;
}


.collapsible {
    margin-bottom: 10px;
}

.collapsible-btn {
    background-color: #4a6bb3;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.collapsible-btn {
    display: block;
}

.collapsible-btn:not(.active) + .content {
    display: none;
}

.content {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f1f1f1;
    font-size: 18px;
}

.collapsible-btn.active {
    background-color: #555;
}

.search-container {
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

.search-input {
    padding: 10px;
    font-size: 24px;
    position: absolute;
    left: 0;
    top: 0;
}

input[type="text"] {
    width: 100%; 
    height: 40px;
    font-size: 18px;
}

.search-button {
    padding: 10px 20px;
    font-size: 24px;
}

.result-container {
    margin-top: 20px;
}

@media screen and (max-width: 480px) {
    .search-input {
        position: relative;
        left: 0;
        top: 0;
        width: 100%; 
    }
}


/*-------- Call To Action ----------*/


.cta{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/lab.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
    font-size: 15px;
}
.cta h1{
    color: #fff;
    margin-bottom: 40px; 
    padding: 0; 
}

::placeholder {
    font-size: 16px; 
}


@media(max-width:700px){
    .cta h1{
        font-size: 24px;
    }
}

/*--------------Footer---------------*/

.footer{
    width: 100%;
    text-align: center;
    padding: 30px 0;
}
.footer h4{
    margin-bottom: 25px;
    margin-top: 20px;
    font-weight: 600;
}

.icons .fa{
    color: #0e2d9f;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}



/*--------------- About Us Page --------------*/


.sub-header{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(images/background.jpg);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.sub-header h1{
    margin-top: 100px;
}
.about-us{
    width: 90%;
    margin: auto;
    padding-top: 80px;
    padding-bottom: 50px;
}

.about-col{
    flex-basis: 48%;
    padding: 30px 2px;
    padding-top: 10px;
}
.about-col h1{
    padding-top: 0;
}
.about-col p{
    padding: 15px 0 25px;
}



.hero-btn.red-btn{
    border: 1px solid #0e2d9f;
    background: transparent;
    color: #0e2d9f;
}
.hero-btn.red-btn:hover{
    border: 1px solid #0e2d9f;
    background: #0e2d9f;
    color: #fff;
}
.hero-btn.red-btn::after{
    background: #0e2d9f;
}
.hero-btn.red-btn::before{
    background: #0e2d9f;
}
.content-image{
    flex-basis: 50%;
}
.about-col img{
    width: 100%;
}

/*---------- Faculty Page -------------*/

.faculty-content{
    width: 80%;
    margin: auto;
    padding: 60px 0;
}
.faculty-left{
    flex-basis: 65%;
}
.faculty-right{
    flex-basis: 32%;
}
.faculty-left img{
    width: 100%;
}
.faculty-left h2{
    color: #222;
    font-weight: 600;
    margin: 30px 0;
}
.faculty-left p{
    color: #999;
    padding: 0;
}

.faculty-right h3{
    background: #0e2d9f;
    color: #fff;
    padding: 7px 0;
    font-size: 16px;
    margin-bottom: 20px;
}
.faculty-right div{
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #555;
    padding: 8px;
    box-sizing: border-box;
}



@media (max-width:700px){
    .sub-header h1{
        font-size: 24px;
    }
} 


/*------- Contact Us Page ------------*/

.location{
    width: 80%;
    margin: auto;
    padding: 80px 0;
}
.location iframe{
    width: 100%;
}

.contact-us{
    width: 80%;
    margin: auto;
}
.contact-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}

.contact-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.contact-col div .fa{
    font-size: 28px;
    color: #0e2d9f;
    margin: 10px;
    margin-right: 30px;
}
    
.contact-col div p{
    padding: 0;
}
.contact-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
    
}
.contact-col input, .contact-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
}

.footer-link{
    text-decoration: none;
    color: #777;
}










